.container-for-quotes{
    display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 700px;
    height:200px;
    width:1300px;
  
   
    
}
