.settings-saved-container {
    display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;

 
}

.crni-tekst-veliki-pss{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 41px;
/* identical to box height */

letter-spacing: 0.25px;

/* Dark */

color: #322D38;
}

.crveni-tekst-veliki-pss{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 41px;
/* identical to box height */

letter-spacing: 0.25px;

/* Orange */

color: #DE8667;
}

.naslov-forme-pss{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:10px;
}

.podnaslov-pss{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: -35px;
    /* identical to box height */
    
    
    /* Dark */
    
    color: #322D38;
}
.close-btn-pss{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:10px;
}

